/*
    Checkered Flags CSS
 */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
}

.img-hover:hover {
    opacity: 0.8;
}

footer {
    margin: 50px 0;
    position: relative;
    left: 13px;
}

@media (max-width: 1000px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }

    .img-portfolio {
        margin-bottom: 15px;
    }
}

@media (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}

.panel-heading {
    background-color: #337AB7 !important;
}

.panel-heading h4 {
    color: white !important;
}

.jumbotron .container {
    position: relative;
    top: 50px;
}

.jumbotron {
    padding: 0;
}

.panel > .panel-heading {
    background-color: #e8e8e8;
}

.panel-title a {
    color: white !important;
}

/* Action Strategies Accordion Colours */

.together {
    background-color: #007CC4 !important;
}

.teachers {
    background-color: #00866C !important;
}

.school {
    background-color: #a3484d !important;
}

.parents {
    background-color: #1e8530 !important;
}

.community {
    background-color: #990099 !important;
}

.law {
    background-color: #669900 !important;
}

.regacc {
    background-color: #337BB6 !important;
}

.image {
    width: 100%;
!important;
    height: 100%;
!important;
}

/* Hides Puzzle Piece For Mobile */

@media (max-width: 450px) {
    .yellow {
        display: none;
    }

    .blue {
        display: none;
    }
}


